@model IEnumerable<MVC.Models.quoteModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .table{
           font-family: arial, sans-serif;
            border-collapse: collapse;
             width: 100%;
        }
        td, th {
         border: 1px solid #dddddd;
         text-align: left;
         padding: 8px;
        }
        tr:nth-child(even) {
        background-color: #dddddd;
        }

    </style>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.quoteid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quotetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tasktype)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quoteid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quotetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tasktype)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
